<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <app-navbar></app-navbar>
    <div class="flex mt-[30px] ml-[120px] justify-between">
        <div>
            <div class="w-[306px] h-1.5 bg-zinc-400 rounded-[30px]"></div>
            <p class="text-xs"><span class="text-primary">0</span> completed</p>
            <span class="flex mt-10 text-black text-xl font-bold ">Your habits</span>
            <div *ngFor="let habit of habits" class="flex flex-wrap mt-5">
                <div (click)="goToHabit(habit)" class="flex flex-col justify-center items-center mr-5 mb-5 w-[16.5rem] h-[12rem] bg-primary rounded-lg cursor-pointer hover:opacity-70">
                    <span class="text-white">{{habit.habitName}}</span>
                    
                    <button (click)="addDateToHabit(habit._id)" class="w-12 h-12 border border-rose-600 rounded-full"></button>
                </div>
            </div>
        </div>
        <div>
            <a href="/habit-form" class="flex mr-[110px]">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
                <span>Add a habit</span>
            </a>
            

        </div>
        
    </div>
    
</body>
</html>