<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
</head>
<body>
    <app-navbar></app-navbar>
    <div class="w-full min-h-screen flex items-center justify-center"> <!--Container-->
        <div class="w-full max-w-600 bg-violet-50 p-30 p-20 border-radius-10"> 
           <div class="flex justify-between items-center mb-20 pb-20 border-b-2 border-ccc">
                <div class="flex items-center text-25 font-bold text-warmGray-900">
                    January, 2024
                </div>
                <div class="btn flex gap-10">
                    <div class="btn today w-50 h-40 bg-violet-50 flex justify-center items-center rounded-5 text-white text-16 cursor-pointer transition-all-0.3s hover:bg-#db0933 transform-hover-scale-105">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm14-7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm-5-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm-5-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4Z"/>
                        </svg>
                    </div>
                    <div class="btn prev w-50 h-40 bg-violet-50 flex justify-center items-center rounded-5 text-white text-16 cursor-pointer transition-all-0.3s hover:bg-#db0933 transform-hover-scale-105">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                        </svg>
                    </div>
                    <div class="btn next w-50 h-40 bg-violet-50 flex justify-center items-center rounded-5 text-white text-16 cursor-pointer transition-all-0.3s hover:bg-#db0933 transform-hover-scale-105">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                        </svg>
                    </div>
                </div>
           </div> 

           <div *ngFor="let day of daysOfWeek" class="weekdays flex gap-10 mb-10">
            
                <div class="day w-calc(100%/7-10px) text-center text-16 font-bold">{{day}}</div>
          </div>
          <div class="days flex flex-wrap gap-10">
            <div class="day w-calc(100%/7-10px) h-50 bg-white flex justify-center items-center rounded-5 text-16 font-normal text-black} transition-all-0.3s select-none" *ngFor="let day of calendarDays" [ngClass]="getDayClasses(day)">
                {{ day }}
              </div>
          </div>
        </div>
    </div>
</body>
</html>



