
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    font-family: Inter;
}
html,body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    
    
    
  }

.login-container{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    width:873px;
    height:804px;
    flex-shrink: 0;
    border: 2px solid #B2B0B0;
    box-shadow: 0px 4px 15px 20px rgba(0,0,0,0.18);
}

.login-content{
    margin-left: 7.63rem;
    
}

.header-form{
    margin-top: 3rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
}

.header-form span{
    margin-bottom: .5rem;
}

.header-form span#login{
    color: #000;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header-form span#info-login{
    color: #818181;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#login-form{
    display: flex;
    flex-direction: column;
    position: relative;
    
}

#login-form input{
    
    width: 36.6875rem;
    height: 4.0625rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    border: 1px solid #FF567B;
    background: #FFF;
    margin-bottom: 1rem;
    padding-left: 1rem;
    font-size: 15px; /* Taille de la police du texte entré */
    text-align: left; /* Centre le texte à gauche */
    line-height: 100rem;
}


.username, .password{
    display: flex;
    flex-direction: column;
    position: relative;
}

.username label, .password label{
        position: absolute;
        top:0.5rem;
        left:0.65rem;
        color: #676464;
        font-family: Inter;
        font-size: 0.8125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}


.remember label{
    color: #818181;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.remember {
    display: flex;
    justify-content: space-between;
}

input#remember{
    width: 1rem;
    height: 1rem;
}

.remember a{
    text-decoration: none;
    color:#DF2F55;
}

.login-content button{
    cursor: pointer;
    width: 36.6875rem;
    height: 5.0625rem;
    flex-shrink: 0;
    margin-top: 6.56rem;
    border-radius: 0.625rem;
    border: 1px solid #D1D1D1;
    background: #FF567B;
    box-shadow: 0px 15px 30px -10px rgba(119, 84, 246, 0.18);
}

.login-content button span{
    width: 4.625rem;
    height: 2.0625rem;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.no-account{
    width: 21.375rem;
    height: 1.625rem;
    flex-shrink: 0;
    color: #818181;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.no-account a{
    
    margin-top: 1.69rem;
    text-decoration: none;
    color: #DF2F55;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


