<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="login-container">
        <div class="left-panel">
            
        </div>
        <div class="right-panel">
            <div class="header-form">
                <span id="login">Login</span>
                <span id="info-login">Veuillez entrer vos identifiants de connexion</span>
            </div>
            <form>
                <label for="username">Nom d'utilisateur :</label>
                <input type="text" id="username" name="username" required>
    
                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="password" required>
    
                <div class="remember-forgot">
                    <label for="remember"><input type="checkbox" id="remember" name="remember"> Se souvenir de moi</label>
                    <a href="#">Mot de passe oublié?</a>
                </div>
    
                <button type="submit">Se connecter</button>
            </form>
    
            <p>Je n'ai pas de compte. <a class="signup-link" href="#">M'inscrire</a></p>
        </div>
    </div>
</body>
</html>