<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="login-container">
        <div class="left-panel">
            
        </div>
        <div class="right-panel">
            <div class="header-form">
                <span id="login">Login</span>
                <span id="info-login">Veuillez entrer vos identifiants de connexion</span>
            </div>
            <form id="login-form">
                
                <div class="username">
                    <label for="username" id="username">Adresse mail</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="password">
                    <label for="password">Mot de passe :</label>
                    <input type="password" id="password" name="password" required>
                </div>
                    
                
               
    
                <div class="remember">
                    <input type="checkbox" id="remember" name="remember">
                    <label for="remember"> Se souvenir de moi</label>
                    <div class="right">
                        <a href="#">Mot de passe oublié?</a>
                    </div>
                    
                </div>
                
                
                
                
    
                <button type="submit">Se connecter</button>
            </form>
    
            <p>Je n'ai pas de compte. <a class="signup-link" href="#">M'inscrire</a></p>
        </div>
    </div>
</body>
</html>