.check-input{
    display: none;
}

.checkbox{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.checkbox span{
    text-align: center;
}
.check-input:checked + .checkbox {
    opacity: 100%;
}
